@import "./../../styles/design";

.container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  &.active {
    background: $c-eastern-snow-gradient;
    .title, .artist {
      color: $c-cod-gray;
    }
  }
}

.cover {
  width: 30%;
  border-radius: 4px;
  overflow: hidden;
}

.meta {
  padding-left: 1rem;
}

.title {
  font-size: 1rem;
}

.artist {
  font-size: 0.7rem;
}

@include desktop {
  .container {
    cursor: pointer;
    &::before {
      @include fill;
      z-index: $z-minus;
      content: "";
      background: $c-silver;
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
    &:hover::before {
      opacity: 1;
    }
  }
}
