@import "./styles/design";

@include desktop {
  .mainContent {
    width: 720px;
    margin: 0 auto;
    transform: translateX(0%);
    transition: transform .5s ease-out;
    &.slidedRight {
      transform: translateX(2%);
    }
  }
}