@import "./../../styles/design";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 0 2rem;
}

.navButton {
  position: relative;
  z-index: $z-highlight;
  padding: 0.5rem;
  background: transparent;
  border: 2px solid $c-mine-shaft;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-minus;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0;
    background: $c-mine-shaft;
    transition: opacity .3s ease-out;
  }
  &:active {
    color: $c-white;
    &::before {
      opacity: 1;
    }
  }
}

@include tablet {
  .nav {
    justify-content: space-around;
    padding: 0;
  }
}

@include desktop {
  .navButton {
    &:hover {
      color: $c-white;
      &::before {
        opacity: 1;
      }
    }
  }
}